:root {
  --pri-color: #ffd415;
  --sec-color: #ddb500;
  --thi-color: #0F8A94;
}

@font-face {
  font-family: 'Biko';
  src: url("/fonts/Biko_bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: 'Biko';
  src: url("/fonts/Biko_Regular.otf");
  font-weight: normal;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: Biko;
  font-weight: normal;
}

.navbar {
  background: #ffffff;
  padding: 0.5em 1em 0.5em 1em;
}

.navbar .title {
  text-decoration: none;
  font-weight: bold;
  color: #000838;
  font-size: 1.8em;
  margin: auto 0 auto 0;
}

.navbar .title span {
  color: var(--pri-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: #999999;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  display: inline-block;
  width: auto;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 0.4em;
  border: solid 0.3em var(--pri-color);
  background: var(--pri-color);
  text-align: center;
  padding: 0.5em;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 0.3em 0px var(--sec-color);
          box-shadow: 0px 0.3em 0px var(--sec-color);
}

.left-col .primary-cta:active {
  -webkit-box-shadow: 0px 0.1em 0px var(--sec-color);
          box-shadow: 0px 0.1em 0px var(--sec-color);
  position: relative;
  top: 0.3em;
}

.left-col .watch-video-cta {
  display: block;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-col .watch-video-cta img {
  margin-right: .5em;
}

.hero-img {
  width: 80%;
  margin-top: 2em;
}

.features-section {
  background: var(--thi-color);
  color: #ffffff;
}

.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.features-list li {
  font-size: 1.1em;
  margin: 0em 0em 1em 2em;
  position: relative;
}

.features-list li:before {
  left: -2em;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("/images/bullet.svg");
  background-size: contain;
  margin: 0em .5em;
}

.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--pri-color);
  color: white;
}

.testimonials-section li {
  padding: 2em 1em;
  text-align: center;
  background: var(--sec-color);
  width: 80%;
  margin: 0em auto 5em auto;
  border-radius: 1em;
}

.testimonials-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid var(--sec-color);
  border-radius: 20%;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.send-message-cta {
  width: unset;
  font-family: Biko;
  font-weight: normal;
  font-size: 1.2em;
  background-color: var(--pri-color);
  color: #000000;
  margin-bottom: 5em;
  border: none;
  border-radius: .4em;
  padding: .8em 2em;
  display: inline-block;
  cursor: pointer;
}

.send-message-cta:hover {
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 35%;
  right: 0;
  top: 0;
  background: var(--thi-color);
  height: 100vh;
  padding: 1em;
}

nav .primary-nav {
  margin-top: 5em;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: #000000;
    font-size: 1em;
    padding: auto .1em auto .1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li {
    margin: auto;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-btn a {
    color: var(--pri-color);
    font-weight: bold;
    border: 3px solid var(--pri-color);
    border-radius: .4em;
    margin-top: -.1em;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .navbar nav li.go-premium-btn a:hover {
    background: var(--pri-color);
    color: white;
  }
  .hero-img {
    width: 60%;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-cta a.watch-video-cta {
    margin: 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.5em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    bottom: 3em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .features-section:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--pri-color);
    left: 0;
    top: -4em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  .features-section:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("/images/dots.svg") no-repeat;
    left: 4em;
    top: 3em;
  }
}
/*# sourceMappingURL=main.css.map */